@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600&display=swap");

:root {
  font-family: "Mulish", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --white: #fff;
  --black: #000;
  --very-dark-blue: #27374d;
  --dark-blue: #526d82;
  --medium-blue: #c4c4c4;
  --hover-medium-blue: #686868;
  --light-blue: #091e4224;
  --very-light-blue: #f1f2f4;
  --box-shadow: 0px 1px 1px var(--light-blue), 0px 0px 1px var(--light-blue), 0 1px 1px var(--light-blue), 0 0 1px var(--light-blue);
  --readonly-bg: #dde6ed77;
  --text-color: var(--very-dark-blue);
}
:root.dark {
  --text-color: var(--white);
  --light-blue: #635fc7;
  --very-dark-blue: #20212c;
  --box-shadow: 0px 1px 1px var(--very-dark-blue), 0px 0px 1px var(--very-dark-blue), 0 1px 1px var(--very-dark-blue), 0 0 1px var(--very-dark-blue);
}
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}
a {
  font-weight: 500;
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: var(--light-blue);
  background-image: url("/public/assets/hell-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.dark body {
  background-color: var(--dark-blue);
  background-image: url("/public/assets/dark-bg.jpg");
}
ul {
  list-style: none;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.25s ease;
}
button:not(.no-styles):hover {
  transform: scale(1.05);
}
label {
  text-align: left;
}

input,
textarea {
  font-family: "Mulish", sans-serif;
  line-height: 1.5;
  background-color: var(--very-light-blue);
  border: none;
  border-bottom: 1px solid var(--very-dark-blue);
  margin-bottom: 10px;
  padding: 5px;
}
textarea {
  resize: none;
}
textarea:focus-visible,
input:focus-visible {
  outline: none;
}
input:read-only,
textarea:read-only {
  background-color: var(--readonly-bg) !important;
  border-bottom: 1px solid transparent !important;
}
/* classes */
.card {
  padding: 2em;
}
.br-1{
  border-radius: 1rem;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#app {
  margin: 0 auto;
  text-align: center;
  max-height: 100%;
  min-height: 100vh;
}
/* Transition */
.v-enter-active,
.v-leave-active {
  transition: opacity 0.3s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
/*Scrollbar*/
/* width */
.drag-container {
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 4px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--light-blue);
    border-radius: 4px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--dark-blue);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--white);
  }
  button:not(.no-styles) {
    background-color: #f9f9f9;
  }
}
